<?xml version="1.0" standalone='no'?>
<!DOCTYPE service-group SYSTEM "avahi-service.dtd">

<service-group>
  <name>Blender</name>
  
  <service>
    <type>_smb._tcp</type>
    <port>445</port>
    <host-name>${host}</host-name>
  </service>
  
  <service>
    <type>_device-info._tcp</type>
    <port>0</port>
    <host-name>${host}</host-name>
    <txt-record>model=MacSamba</txt-record>
  </service>
</service-group>
